<section class="component-container">
  <form class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="电子邮箱"
             formControlName="email">
      <mat-hint>请输入一个有效的电子邮件地址</mat-hint>
      <mat-error>电子邮件无效或缺失</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             matInput
             placeholder="密码"
             formControlName="password">
      <mat-hint>请输入您的密码</mat-hint>
      <mat-error>密码缺失</mat-error>
    </mat-form-field>

    @if(!isLoading) {
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="loginForm.invalid">登入</button>
    }

    @if(isLoading) {
    <mat-spinner></mat-spinner>
    }
  </form>
</section>