// ------------    export    --------------
.common-bar {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
}

.export-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-container {
    display: flex;
    justify-content: center;
  }
}

.export {
  margin-top: 30px;
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-end;
  gap: 20px;

  .date-picker {
    width: 250px;
  }
}

// ------------    filters    --------------
.filter-all {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 10px;
}
.filter-by-typing {
  width: 65%;
}

.filter-by-category {
  width: 20%;
}

// ------------ table ------------------//

.table-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 16.5%;
// }

.picture {
  width: 180px;
  height: 200px;
}

.mat-column-select {
  width: 5%;
}

.mat-column-description {
  width: 30%;
}

.mat-column-pictureUrl {
  width: 20%;
}

// 55

.mat-column-modelNumber {
  width: 10%;
}

.mat-column-category {
  width: 15%;
}

.mat-column-capacity {
  width: 5%;
}

.mat-column-prices {
  width: 10%;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    padding-left: 5px;
  }

  .saving-text {
    font-size: 24px;
  }
}
