<h2 mat-dialog-title>{{data.customer ? '编辑客户资料' : '创建客户资料'}}</h2>

<form [formGroup]="customerForm"
      class="customer-form"
      (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <!-- Name -->
    <mat-form-field class="full-width"
                    appearance="outline">
      <mat-label>客户姓名</mat-label>
      <input type="text"
             matInput
             formControlName="name"
             [errorStateMatcher]="matcher">
      @if (customerForm.get('name')?.hasError('required')) {
      <mat-error>字段不能为空</mat-error>
      }
    </mat-form-field>

    <!-- Company -->
    <mat-form-field class="full-width"
                    appearance="outline">
      <mat-label>公司</mat-label>
      <input type="text"
             matInput
             formControlName="company"
             [errorStateMatcher]="matcher">
    </mat-form-field>

    <!-- country -->
    <mat-form-field class="full-width"
                    appearance="outline">
      <mat-label>国家</mat-label>
      <mat-select formControlName="country"
                  [errorStateMatcher]="matcher">
        <mat-option>--</mat-option>
        @for (countryName of countries; track countryName) {
        <mat-option [value]="countryName">{{countryName}}</mat-option>
        }
      </mat-select>
      @if (customerForm.get('country')?.hasError('required')) {
      <mat-error>请选择国家</mat-error>
      }
    </mat-form-field>


    <!-- foundFrom -->
    <mat-form-field class="full-width"
                    appearance="outline">
      <mat-label>客户来源</mat-label>
      <mat-select formControlName="foundFrom"
                  [errorStateMatcher]="matcher">
        <mat-option>--</mat-option>
        @for (platform of platforms; track platform) {
        <mat-option [value]="platform">{{platform}}</mat-option>
        }
      </mat-select>
      @if (customerForm.get('foundFrom')?.hasError('required')) {
      <mat-error>请选择来源渠道</mat-error>
      }
    </mat-form-field>

    <!-- Contacts -->
    <div>
      <div class="arr-container">
        <span>联系方式</span>
        <button mat-mini-fab
                color="warn"
                aria-label="Add Contact"
                type="button"
                (click)="createContact()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div formArrayName="contacts">
        @for(item of formArr('contacts').controls; track item;) {
        <div [formGroupName]="$index"
             class="arr-item-container">

          <mat-form-field appearance="outline"
                          class="arr-item-main">
            <mat-label>平台</mat-label>
            <mat-select formControlName="mediaPlatform">
              <mat-option>--</mat-option>
              @for (platform of platforms; track platform) {
              <mat-option [value]="platform">{{platform}}</mat-option>
              }
            </mat-select>
            @if (formArr('contacts').controls[$index].get('mediaPlatform')?.hasError('required')) {
            <mat-error>请选择一个平台</mat-error>
            }
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>链接</mat-label>
            <input type="text"
                   matInput
                   formControlName="link"
                   [errorStateMatcher]="matcher">
            @if (formArr('contacts').controls[$index].get('link')?.hasError('required')) {
            <mat-error>请输入链接</mat-error>
            }
          </mat-form-field>


          <button mat-mini-fab
                  color="warn"
                  class="upload-btn"
                  type="button"
                  (click)="removeArrItem('contacts', $index)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>

    </div>



    <!-- Products -->
    <div>
      <div class="arr-container">
        <span>产品</span>
        <button mat-mini-fab
                color="warn"
                aria-label="Add Product"
                type="button"
                (click)="createProduct()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div formArrayName="products">
        @for(item of formArr('products').controls; track item;) {
        <div [formGroupName]="$index"
             class="arr-item-container">

          <mat-form-field appearance="outline"
                          class="arr-item-main">
            <mat-label>产品型号</mat-label>
            <input type="text"
                   matInput
                   formControlName="product"
                   [errorStateMatcher]="matcher">
            @if (formArr('products').controls[$index].get('product')?.hasError('required')) {
            <mat-error>请输入产品型号</mat-error>
            }
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>数量</mat-label>
            <input type="number"
                   matInput
                   formControlName="quantity"
                   [errorStateMatcher]="matcher">
            @if (formArr('products').controls[$index].get('quantity')?.hasError('required')) {
            <mat-error>请输入数量</mat-error>
            }
          </mat-form-field>


          <button mat-mini-fab
                  color="warn"
                  class="upload-btn"
                  type="button"
                  (click)="removeArrItem('products', $index)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>

    <app-sales-progress [currentProgress]="customerForm.get('salesProgress')?.value"
                        (setSalesProgress)="onSalesProgressSet($event)"></app-sales-progress>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>取消</button>
    <button mat-button
            type="submit"
            [disabled]="customerForm.invalid">{{data.customer ? '保存' : '创建'}}</button>
    <!-- <button mat-button
            type="button"
            (click)="test()">
      Test
    </button> -->
  </mat-dialog-actions>
</form>