<mat-sidenav-container>
  <mat-sidenav #sidenav
               role="navigation">
    <mat-nav-list>
      <a mat-list-item
         routerLink="/signup"
         (click)="sidenav.close()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signup</span>
      </a>
      <a mat-list-item
         routerLink="/login"
         (click)="sidenav.close()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
      <a mat-list-item
         routerLink="/products"
         (click)="sidenav.close()">
        <mat-icon>shopping-cart</mat-icon>
        <span class="nav-caption">Products</span>
      </a>
      <a mat-list-item
         (click)="sidenav.close()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="menu-button-container">
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <img src="../assets/gebra-logo.png"
           class="logo"
           routerLink="/">
      <span>Gebra Products Management</span>
      <div class="links">
        <ul class="navigation-items">
          <li><a routerLink="/signup">Signup</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/logout">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <div>
  <mat-toolbar>
    <img src="../assets/gebra-logo.png"
         class="logo">
    <span>Gebra Products Management</span>
  </mat-toolbar>
</div> -->