.logo {
  height: 30px;
  margin-right: 10px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

@media screen and (min-width: 600px) {
  .menu-button-container {
    display: none;
  }
}

.links {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 599px) {
  .links {
    display: none;
  }
}

.navigation-items {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  color: blue;
}
