<section>
  <form class="signup-form"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <mat-form-field>
      <input type="text"
             matInput
             placeholder="First Name"
             ngModel
             name="firstName"
             required
             #firstNameInput="ngModel">
      @if(firstNameInput.hasError('required')) {
      <mat-error>Field must not be empty.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input type="text"
             matInput
             placeholder="Last Name"
             ngModel
             name="lastName"
             required
             #lastNameInput="ngModel">
      @if(lastNameInput.hasError('required')) {
      <mat-error>Field must not be empty.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Your email"
             ngModel
             name="email"
             email
             required
             #emailInput="ngModel">
      @if(emailInput.hasError('required')) {
      <mat-error>Field must not be empty.</mat-error>
      }
      @if(!emailInput.hasError('email')) {
      <mat-error>E-Mail is invalid.</mat-error>
      }
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input type="password"
             matInput
             placeholder="Your password"
             ngModel
             name="password"
             required
             minlength="6"
             #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Has to be at least 6 characters long.</mat-error>
    </mat-form-field>

    <!-- <mat-checkbox ngModel
                  name="agree"
                  color="primary"
                  required>Agree To Terms and Conditions</mat-checkbox> -->


    @if(!isLoading) {
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid">Sign Up</button>
    }

    @if(isLoading) {
    <mat-spinner></mat-spinner>
    }
  </form>
</section>