<section class="component-container">
  <form class="signup-form"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <mat-form-field>
      <input type="text"
             matInput
             placeholder="名字(中文)"
             ngModel
             name="firstName"
             required
             #firstNameInput="ngModel">
      @if(firstNameInput.hasError('required')) {
      <mat-error>字段不能为空</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input type="text"
             matInput
             placeholder="姓氏(中文)"
             ngModel
             name="lastName"
             required
             #lastNameInput="ngModel">
      @if(lastNameInput.hasError('required')) {
      <mat-error>字段不能为空</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input type="text"
             matInput
             placeholder="英文名"
             ngModel
             name="englishName"
             required
             #englishNameInput="ngModel">
      @if(englishNameInput.hasError('required')) {
      <mat-error>字段不能为空</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <input type="email"
             matInput
             placeholder="电子邮箱"
             ngModel
             name="email"
             email
             required
             #emailInput="ngModel">
      @if(emailInput.hasError('required')) {
      <mat-error>字段不能为空</mat-error>
      }
      @if(!emailInput.hasError('email')) {
      <mat-error>邮箱格式不正确</mat-error>
      }
    </mat-form-field>
    <mat-form-field hintLabel="至少6位字符">
      <input type="password"
             matInput
             placeholder="密码"
             ngModel
             name="password"
             required
             minlength="6"
             #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>至少6位字符</mat-error>
    </mat-form-field>

    <!-- <mat-checkbox ngModel
                  name="agree"
                  color="primary"
                  required>Agree To Terms and Conditions</mat-checkbox> -->


    @if(!isLoading) {
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="f.invalid">注册</button>
    }

    @if(isLoading) {
    <mat-spinner></mat-spinner>
    }
  </form>
</section>