<mat-toolbar>
  <div class="menu-button-container">
    <button mat-icon-button
            (click)="onToggleSidenav()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
  <img src="../assets/gebra-logo.png"
       class="logo"
       routerLink="/">
  <span>Exmight</span>
  <div class="links">
    <ul class="navigation-items">
      @if(!isAuth) {
      <li><a routerLink="/signup">{{APP_MENUS_CHN.signup}}</a></li>
      <li><a routerLink="/login">{{APP_MENUS_CHN.login}}</a></li>
      }
      <!-- todo: move back to isAuth -->
      <li><a routerLink="/products">{{APP_MENUS_CHN.products}}</a></li>

      @if(isAuth) {
      <li><a routerLink="/customers">{{APP_MENUS_CHN.customers}}</a></li>
      <li><a routerLink="/orders">{{APP_MENUS_CHN.orders}}</a></li>
      <li><a style="cursor: pointer"
           (click)="onLogout()">{{APP_MENUS_CHN.logout}}</a></li>
      }
    </ul>
  </div>
</mat-toolbar>