<mat-toolbar>
  <div class="menu-button-container">
    <button mat-icon-button
            (click)="onToggleSidenav()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </div>
  <img src="../assets/gebra-logo.png"
       class="logo"
       routerLink="/">
  <span>Exmight</span>
  <div class="links">
    <ul class="navigation-items">
      @if(!isAuth) {
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      }
      <!-- todo: move back to isAuth -->
      <li><a routerLink="/products">Products</a></li>

      @if(isAuth) {
      <li><a routerLink="/customers">Customers</a></li>
      <li><a routerLink="/orders">Orders</a></li>
      <li><a style="cursor: pointer"
           (click)="onLogout()">Logout</a></li>
      }
    </ul>
  </div>
</mat-toolbar>