<div class="common-bar">
  <div class="buttons">
    <div class="button-container">
      <button mat-raised-button
              color="warn"
              aria-label="Add Order"
              [disabled]="!customers"
              (click)="openOrderDialog(null)">
        <mat-icon>add</mat-icon>
        <span>Add Order</span>
      </button>
    </div>
  </div>
</div>

@if(isUploadingOrders || isLoading) {
<div class="spinner-wrapper">
  <mat-spinner [diameter]="25"
               color="warn"></mat-spinner>
  @if(isUploadingOrders) {
  <span class="saving-text">Saving Order......</span>
  }

  @if(isLoading) {
  <span class="saving-text">Loading Orders......</span>
  }
</div>
}